In [ ]:
import h5py

with h5py.File('/content/sample_data/train.hdf5', 'r') as file:
    # Print all group names (keys) in the file
    def print_attrs(name, obj):
        print(name)

    file.visititems(print_attrs)

X
X/sequence
Y
Y/output
weights

In [ ]:
import h5py

with h5py.File('/content/sample_data/train.hdf5', 'r') as file:
    # List all groups and datasets
    def explore_structure(name, obj):
        if isinstance(obj, h5py.Dataset):
            print(f"Dataset: {name}")
        elif isinstance(obj, h5py.Group):
            print(f"Group: {name}")

    file.visititems(explore_structure)

Group: X
Dataset: X/sequence
Group: Y
Dataset: Y/output
Group: weights

In [ ]:
with h5py.File('/content/sample_data/train.hdf5', 'r') as file:
    # Accessing the dataset 'sequence' under group 'X'
    sequence_data = file['X/sequence'][:]
    print("Sequence data:", sequence_data)

    # Accessing the dataset 'output' under group 'Y'
    output_data = file['Y/output'][:]
    print("Output data:", output_data)

Sequence data: [[[0. 0. 1. 0.]
  [0. 0. 1. 0.]
  [0. 0. 1. 0.]
  ...
  [0. 1. 0. 0.]
  [1. 0. 0. 0.]
  [0. 1. 0. 0.]]

 [[0. 0. 1. 0.]
  [0. 0. 0. 1.]
  [0. 0. 1. 0.]
  ...
  [0. 1. 0. 0.]
  [0. 1. 0. 0.]
  [0. 1. 0. 0.]]

 [[0. 1. 0. 0.]
  [0. 1. 0. 0.]
  [0. 1. 0. 0.]
  ...
  [0. 1. 0. 0.]
  [0. 1. 0. 0.]
  [0. 1. 0. 0.]]

 ...

 [[0. 0. 0. 1.]
  [0. 1. 0. 0.]
  [0. 1. 0. 0.]
  ...
  [1. 0. 0. 0.]
  [0. 0. 1. 0.]
  [0. 0. 1. 0.]]

 [[0. 0. 1. 0.]
  [0. 0. 0. 1.]
  [0. 1. 0. 0.]
  ...
  [0. 0. 1. 0.]
  [1. 0. 0. 0.]
  [0. 0. 1. 0.]]

 [[0. 1. 0. 0.]
  [0. 0. 0. 1.]
  [0. 1. 0. 0.]
  ...
  [0. 0. 1. 0.]
  [1. 0. 0. 0.]
  [0. 1. 0. 0.]]]
Output data: [[-1.8394496  -1.3714164  -1.860508   ... -0.48974192 -0.25042853
  -0.43638697]
 [-1.8394496  -1.3714164  -1.860508   ... -0.48974192 -0.25042853
  -0.43638697]
 [-0.6241887  -0.2483657  -0.49987984 ...  0.03345118 -1.8992287
  -1.1234441 ]
 ...
 [-0.8586054   1.5450506   0.45529526 ...  1.626769    0.5821582
   1.2992789 ]
 [ 0.7190142   1.4066808   1.2546403  ...  0.24882215  0.6553631
   0.5395422 ]
 [ 0.7190142   1.4066808   1.2546403  ...  0.24882215  0.6553631
   0.5395422 ]]

In [ ]:
with h5py.File('/content/sample_data/valid.hdf5', 'r') as file:
    # Accessing the dataset 'sequence' under group 'X'
    sequence_data = file['X/sequence'][:]
    print("Sequence data:", sequence_data)

    # Accessing the dataset 'output' under group 'Y'
    output_data = file['Y/output'][:]
    print("Output data:", output_data)

Sequence data: [[[0. 1. 0. 0.]
  [0. 1. 0. 0.]
  [0. 1. 0. 0.]
  ...
  [0. 0. 0. 1.]
  [0. 1. 0. 0.]
  [0. 1. 0. 0.]]

 [[0. 0. 0. 1.]
  [0. 0. 0. 1.]
  [0. 0. 0. 1.]
  ...
  [0. 1. 0. 0.]
  [0. 1. 0. 0.]
  [0. 1. 0. 0.]]

 [[1. 0. 0. 0.]
  [0. 1. 0. 0.]
  [0. 0. 0. 1.]
  ...
  [0. 1. 0. 0.]
  [0. 0. 0. 1.]
  [0. 1. 0. 0.]]

 ...

 [[1. 0. 0. 0.]
  [1. 0. 0. 0.]
  [1. 0. 0. 0.]
  ...
  [0. 1. 0. 0.]
  [1. 0. 0. 0.]
  [0. 0. 1. 0.]]

 [[1. 0. 0. 0.]
  [0. 1. 0. 0.]
  [1. 0. 0. 0.]
  ...
  [0. 0. 0. 1.]
  [1. 0. 0. 0.]
  [0. 0. 0. 1.]]

 [[0. 0. 0. 1.]
  [0. 0. 0. 1.]
  [0. 1. 0. 0.]
  ...
  [1. 0. 0. 0.]
  [0. 0. 0. 1.]
  [0. 1. 0. 0.]]]
Output data: [[-0.8249799  -1.5034798  -1.3725991  ...  0.05413565  0.02142959
   0.04447504]
 [-0.20448795 -0.53588045 -0.43909627 ...  0.20000751  0.3091786
   0.30273333]
 [-1.2717273   0.27968097 -0.5425013  ...  0.81941444  0.6830795
   0.889063  ]
 ...
 [ 0.5448266   0.92396593  0.8647128  ...  0.9470208   0.64274806
   0.9392275 ]
 [-1.9823563  -1.5034798  -2.020509   ... -0.11254603 -0.699672
  -0.486714  ]
 [-0.5421158   0.87866956  0.22879317 ...  0.9311703   0.29009548
   0.71775496]]

In [ ]:
with h5py.File('/content/sample_data/test.hdf5', 'r') as file:
    # Accessing the dataset 'sequence' under group 'X'
    sequence_data = file['X/sequence'][:]
    print("Sequence data:", sequence_data)

    # Accessing the dataset 'output' under group 'Y'
    output_data = file['Y/output'][:]
    print("Output data:", output_data)

Sequence data: [[[1. 0. 0. 0.]
  [1. 0. 0. 0.]
  [0. 0. 0. 1.]
  ...
  [1. 0. 0. 0.]
  [0. 0. 1. 0.]
  [0. 0. 1. 0.]]

 [[0. 0. 1. 0.]
  [0. 0. 1. 0.]
  [1. 0. 0. 0.]
  ...
  [1. 0. 0. 0.]
  [0. 0. 0. 1.]
  [0. 0. 1. 0.]]

 [[1. 0. 0. 0.]
  [0. 0. 1. 0.]
  [1. 0. 0. 0.]
  ...
  [1. 0. 0. 0.]
  [0. 0. 1. 0.]
  [1. 0. 0. 0.]]

 ...

 [[0. 0. 1. 0.]
  [0. 0. 1. 0.]
  [0. 0. 1. 0.]
  ...
  [1. 0. 0. 0.]
  [1. 0. 0. 0.]
  [0. 1. 0. 0.]]

 [[0. 1. 0. 0.]
  [0. 1. 0. 0.]
  [0. 0. 0. 1.]
  ...
  [1. 0. 0. 0.]
  [1. 0. 0. 0.]
  [1. 0. 0. 0.]]

 [[0. 0. 0. 1.]
  [0. 0. 1. 0.]
  [0. 1. 0. 0.]
  ...
  [1. 0. 0. 0.]
  [0. 0. 0. 1.]
  [0. 0. 0. 1.]]]
Output data: [[-1.1480043  -1.559959   -1.5876448  ... -0.3099618  -0.28306702
  -0.3511585 ]
 [-2.178577   -0.78698003 -1.6963186  ...  0.0445888   0.20941071
   0.15203328]
 [ 1.2549686  -0.15427196  0.6090891  ...  0.6589449  -0.38040316
   0.15545247]
 ...
 [-1.5651194  -0.81297344 -1.3686457  ...  0.09077324 -0.03004333
   0.03487025]
 [-1.0637978   1.5679264   0.35428417 ...  0.34094787  0.46726388
   0.48008326]
 [-0.70027    -0.31867415 -0.5850618  ...  0.16298671 -2.2122743
  -1.2362738 ]]

In [ ]:
with h5py.File('/content/sample_data/train.hdf5', 'r') as file:
    weights_group = file['weights']

    # Print the contents of the 'weights' group
    for name in weights_group:
        print(f"Dataset or group in 'weights': {name}")

In [ ]:
with h5py.File('/content/sample_data/test.hdf5', 'r') as file:
    weights_group = file['weights']

    # Print the contents of the 'weights' group
    for name in weights_group:
        print(f"Dataset or group in 'weights': {name}")

In [ ]:
with h5py.File('/content/sample_data/valid.hdf5', 'r') as file:
    weights_group = file['weights']

    # Print the contents of the 'weights' group
    for name in weights_group:
        print(f"Dataset or group in 'weights': {name}")

In [ ]:
import sqlite3
from prettytable import PrettyTable

# Connect to the database
conn = sqlite3.connect('/content/sample_data/mprabase_v4_9.3.db')


cursor = conn.cursor()

# List all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:", tables)

Tables in the database: [('designed_library',), ('library_sequence',), ('element_score',), ('element_rep_score',), ('datasets',), ('sample',)]

In [ ]:
cursor.execute("PRAGMA table_info(designed_library);")
columns = cursor.fetchall()
pragma_headers = [desc[0] for desc in cursor.description]


column_table = PrettyTable()
column_table.field_names = pragma_headers

# Add rows of column info based on output)
for col in columns:
    column_table.add_row(col)

print("Columns in the table:")
print(column_table)

# Fetch some data from the table
cursor.execute("SELECT * FROM designed_library LIMIT 20;")
rows = cursor.fetchall()
column_names = [description[0] for description in cursor.description]

data_table = PrettyTable()
data_table.field_names = column_names

for row in rows:
    data_table.add_row(row)

print("\nSample data:")
print(data_table)

Columns in the table:
+-----+--------------------+------+---------+------------+----+
| cid |        name        | type | notnull | dflt_value | pk |
+-----+--------------------+------+---------+------------+----+
|  0  |     library_id     | TEXT |    1    |    None    | 1  |
|  1  |    library_name    | TEXT |    0    |    None    | 0  |
|  2  |    datasets_id     | TEXT |    1    |    None    | 0  |
|  3  | number_of_elements | TEXT |    0    |    None    | 0  |
+-----+--------------------+------+---------+------------+----+

Sample data:
+--------------+---------------------------------------------------+-------------+--------------------+
|  library_id  |                    library_name                   | datasets_id | number_of_elements |
+--------------+---------------------------------------------------+-------------+--------------------+
| DS0001-LID01 |             Cloned_array_oligo_library            |    DS0001   |        2440        |
| DS0021-LID01 | Klein_Cloned_array_oligo_library_9_MPRA_libraries |    DS0021   |        2439        |
| DS0021-LID02 |   Klein_Cloned_array_oligo_library_shortMedLong   |    DS0021   |        6908        |
| DS0021-LID03 |  Klein_Cloned_array_oligo_library_forwardreverse  |    DS0021   |        2337        |
| DS0002-LID01 |                Klein_STARR_Ortholog               |    DS0002   |        5218        |
| DS0003-LID01 |                    Smith_Hepg2                    |    DS0003   |        4966        |
| DS0004-LID01 |                    S2_STARR_SEQ                   |    DS0004   |        8384        |
| DS0005-LID01 |              GM12878_plasmid library              |    DS0005   |      16092560      |
| DS0006-LID01 |    Systematic Interrogation of Human Promoters    |    DS0006   |       15753        |
| DS0026-LID01 |                 SYN library design                |    DS0026   |        625         |
| DS0026-LID02 |                 GEN library design                |    DS0026   |        815         |
| DS0007-LID01 |                   Choi_MPRA_Lib1                  |    DS0007   |       32580        |
| DS0007-LID02 |                   Choi_MPRA_Lib2                  |    DS0007   |       36660        |
| DS0008-LID01 |                     TN03_E_DNA                    |    DS0008   |                    |
| DS0008-LID02 |                     TN03_P_DNA                    |    DS0008   |                    |
| DS0008-LID03 |                     TN04_E_DNA                    |    DS0008   |                    |
| DS0008-LID04 |                     TN04_P_DNA                    |    DS0008   |                    |
| DS0008-LID05 |                     TN05_E_DNA                    |    DS0008   |                    |
| DS0008-LID06 |                     TN05_P_DNA                    |    DS0008   |                    |
| DS0008-LID07 |              TN03_DNA_Key_Development             |    DS0008   |                    |
+--------------+---------------------------------------------------+-------------+--------------------+

In [ ]:
cursor.execute("PRAGMA table_info(library_sequence);")
columns = cursor.fetchall()

pragma_headers = [desc[0] for desc in cursor.description]


column_table = PrettyTable()
column_table.field_names = pragma_headers

for col in columns:
    column_table.add_row(col)

print("Columns in the table:")
print(column_table)


cursor.execute("SELECT * FROM library_sequence LIMIT 5;")
rows = cursor.fetchall()

column_names = [description[0] for description in cursor.description]


data_table = PrettyTable()
data_table.field_names = column_names

for row in rows:
    data_table.add_row(row)

print("\nSample data:")
print(data_table)

Columns in the table:
+-----+----------------------+------+---------+------------+----+
| cid |         name         | type | notnull | dflt_value | pk |
+-----+----------------------+------+---------+------------+----+
|  0  |  library_element_id  | TEXT |    1    |    None    | 1  |
|  1  |      library_id      | TEXT |    1    |    None    | 0  |
|  2  |     genome_build     | TEXT |    0    |    None    | 0  |
|  3  |  element_coordinate  | TEXT |    0    |    None    | 0  |
|  4  | library_element_name | TEXT |    0    |    None    | 0  |
|  5  |       sequence       | TEXT |    0    |    None    | 0  |
+-----+----------------------+------+---------+------------+----+

Sample data:
+--------------------------+--------------+--------------+--------------------+----------------------------------------------------------------------+----------+
|    library_element_id    |  library_id  | genome_build | element_coordinate |                         library_element_name                         | sequence |
+--------------------------+--------------+--------------+--------------------+----------------------------------------------------------------------+----------+
| DS0003-LID01-EID00000001 | DS0003-LID01 |              |                    |  hg18:chr2:210861483-210861650113:V_AHRARNT_02:GGGGATCGCGTGCCAGCCC   |          |
| DS0003-LID01-EID00000002 | DS0003-LID01 |              |                    |       hg18:chr2:210861483-210861650113:V_AP2GAMMA_01:GCCCGGGGG       |          |
| DS0003-LID01-EID00000003 | DS0003-LID01 |              |                    | hg18:chr2:210861483-210861650113:V_COUPTF_Q6:CCCCCTGACCTTTGCCCCCTGCC |          |
| DS0003-LID01-EID00000004 | DS0003-LID01 |              |                    |       hg18:chr2:210861483-210861650113:V_GATA4_Q3:AGATAACAGGGA       |          |
| DS0003-LID01-EID00000005 | DS0003-LID01 |              |                    |     hg18:chr2:210861483-210861650113:V_HNF1_C:AGTTAATGATTAACCAA      |          |
+--------------------------+--------------+--------------+--------------------+----------------------------------------------------------------------+----------+

In [ ]:
cursor.execute("PRAGMA table_info(element_score);")
columns = cursor.fetchall()


pragma_headers = [desc[0] for desc in cursor.description]

column_table = PrettyTable()
column_table.field_names = pragma_headers


for col in columns:
    column_table.add_row(col)

print("Columns in the table:")
print(column_table)


cursor.execute("SELECT * FROM element_score LIMIT 5;")
rows = cursor.fetchall()


column_names = [description[0] for description in cursor.description]


data_table = PrettyTable()
data_table.field_names = column_names


for row in rows:
    data_table.add_row(row)

print("\nSample data:")
print(data_table)

Columns in the table:
+-----+----------------------+------+---------+------------+----+
| cid |         name         | type | notnull | dflt_value | pk |
+-----+----------------------+------+---------+------------+----+
|  0  |  element_sample_id   | TEXT |    1    |    None    | 1  |
|  1  | library_element_name | TEXT |    0    |    None    | 0  |
|  2  |        score         | REAL |    1    |    None    | 0  |
|  3  |  library_element_id  | TEXT |    1    |    None    | 0  |
|  4  |      sample_id       | TEXT |    1    |    None    | 0  |
|  5  |      library_id      | TEXT |    1    |    None    | 0  |
+-----+----------------------+------+---------+------------+----+

Sample data:
+--------------------------+----------------------+--------------+--------------------------+--------------+--------------+
|    element_sample_id     | library_element_name |    score     |    library_element_id    |  sample_id   |  library_id  |
+--------------------------+----------------------+--------------+--------------------------+--------------+--------------+
| DS0002-SID02-EID00006859 | X:87816252-87816446  | -0.529869953 | DS0002-LID02-EID00006859 | DS0002-SID02 | DS0002-LID02 |
| DS0002-SID02-EID00006858 | X:87815952-87816146  | 0.466076894  | DS0002-LID02-EID00006858 | DS0002-SID02 | DS0002-LID02 |
| DS0002-SID02-EID00006857 | X:87815752-87815946  | 0.832129049  | DS0002-LID02-EID00006857 | DS0002-SID02 | DS0002-LID02 |
| DS0002-SID02-EID00006856 | X:87815552-87815746  | 0.223528503  | DS0002-LID02-EID00006856 | DS0002-SID02 | DS0002-LID02 |
| DS0002-SID02-EID00006855 | X:87815052-87815246  | -0.038264413 | DS0002-LID02-EID00006855 | DS0002-SID02 | DS0002-LID02 |
+--------------------------+----------------------+--------------+--------------------------+--------------+--------------+

In [ ]:
cursor.execute("PRAGMA table_info(element_rep_score);")
columns = cursor.fetchall()

pragma_headers = [desc[0] for desc in cursor.description]


column_table = PrettyTable()
column_table.field_names = pragma_headers


for col in columns:
    column_table.add_row(col)

print("Columns in the table:")
print(column_table)

cursor.execute("SELECT * FROM element_rep_score LIMIT 5;")
rows = cursor.fetchall()


column_names = [description[0] for description in cursor.description]


data_table = PrettyTable()
data_table.field_names = column_names

for row in rows:
    data_table.add_row(row)

print("\nSample data:")
print(data_table)

Columns in the table:
+-----+--------------------+------+---------+------------+----+
| cid |        name        | type | notnull | dflt_value | pk |
+-----+--------------------+------+---------+------------+----+
|  0  |   element_rep_id   | TEXT |    1    |    None    | 1  |
|  1  |     sample_id      | TEXT |    1    |    None    | 0  |
|  2  | library_element_id | TEXT |    1    |    None    | 0  |
|  3  |        REP1        | REAL |    0    |    None    | 0  |
|  4  |        REP2        | REAL |    0    |    None    | 0  |
|  5  |        REP3        | REAL |    0    |    None    | 0  |
|  6  |        REP4        | REAL |    0    |    None    | 0  |
|  7  |        REP5        | REAL |    0    |    None    | 0  |
|  8  |        REP6        | REAL |    0    |    None    | 0  |
|  9  |        REP7        | REAL |    0    |    None    | 0  |
|  10 |        REP8        | TEXT |    0    |    None    | 0  |
|  11 |        REP9        | TEXT |    0    |    None    | 0  |
|  12 |       REP10        | TEXT |    0    |    None    | 0  |
|  13 |       REP11        | TEXT |    0    |    None    | 0  |
|  14 |       REP12        | TEXT |    0    |    None    | 0  |
|  15 |       REP13        | TEXT |    0    |    None    | 0  |
|  16 |       REP14        | TEXT |    0    |    None    | 0  |
|  17 |       REP15        | TEXT |    0    |    None    | 0  |
|  18 |       REP16        | TEXT |    0    |    None    | 0  |
|  19 |       REP17        | TEXT |    0    |    None    | 0  |
|  20 |       REP18        | TEXT |    0    |    None    | 0  |
|  21 |       REP19        | TEXT |    0    |    None    | 0  |
|  22 |       REP20        | TEXT |    0    |    None    | 0  |
|  23 |       REP21        | TEXT |    0    |    None    | 0  |
|  24 |       REP22        | TEXT |    0    |    None    | 0  |
|  25 |       REP23        | TEXT |    0    |    None    | 0  |
|  26 |       REP24        | TEXT |    0    |    None    | 0  |
|  27 |       REP25        | TEXT |    0    |    None    | 0  |
+-----+--------------------+------+---------+------------+----+

Sample data:
+------------------------------+--------------+--------------------------+--------------+--------------+--------------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
|        element_rep_id        |  sample_id   |    library_element_id    |     REP1     |     REP2     |     REP3     | REP4 | REP5 | REP6 | REP7 | REP8 | REP9 | REP10 | REP11 | REP12 | REP13 | REP14 | REP15 | REP16 | REP17 | REP18 | REP19 | REP20 | REP21 | REP22 | REP23 | REP24 | REP25 |
+------------------------------+--------------+--------------------------+--------------+--------------+--------------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+
| DS0001-SID01-REP-EID00000001 | DS0001-SID01 | DS0001-LID01-EID00000001 | 0.9337856736 | 0.9713095383 | 0.9641061327 |      |      |      |      |      |      |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |
| DS0001-SID01-REP-EID00000002 | DS0001-SID01 | DS0001-LID01-EID00000002 | 0.9778621307 | 0.9803764001 | 1.1290221946 |      |      |      |      |      |      |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |
| DS0001-SID01-REP-EID00000003 | DS0001-SID01 | DS0001-LID01-EID00000003 | 0.8906822962 | 0.881488284  | 0.8690417856 |      |      |      |      |      |      |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |
| DS0001-SID01-REP-EID00000004 | DS0001-SID01 | DS0001-LID01-EID00000004 | 1.1143083074 | 1.1637132427 | 1.1470612608 |      |      |      |      |      |      |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |
| DS0001-SID01-REP-EID00000005 | DS0001-SID01 | DS0001-LID01-EID00000005 | 0.7421291999 | 0.7760066728 | 0.777035682  |      |      |      |      |      |      |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |       |
+------------------------------+--------------+--------------------------+--------------+--------------+--------------+------+------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+-------+

In [ ]:
cursor.execute("PRAGMA table_info(datasets);")
columns = cursor.fetchall()


pragma_headers = [desc[0] for desc in cursor.description]


column_table = PrettyTable()
column_table.field_names = pragma_headers
for col in columns:
    column_table.add_row(col)

print("Columns in the table:")
print(column_table)


cursor.execute("SELECT * FROM datasets LIMIT 5;")
rows = cursor.fetchall()

column_names = [description[0] for description in cursor.description]

data_table = PrettyTable()
data_table.field_names = column_names

for row in rows:
    data_table.add_row(row)

print("\nSample data:")
print(data_table)

Columns in the table:
+-----+---------------+-------------+---------+------------+----+
| cid |      name     |     type    | notnull | dflt_value | pk |
+-----+---------------+-------------+---------+------------+----+
|  0  |  datasets_id  |     TEXT    |    1    |    None    | 1  |
|  1  | datasets_name |     TEXT    |    0    |    None    | 0  |
|  2  |      PMID     |     TEXT    |    0    |    None    | 0  |
|  3  |   GEO_number  | VARCHAR(10) |    0    |    None    | 0  |
|  4  |   SRP_number  |     TEXT    |    0    |    None    | 0  |
|  5  |   Reference   |     TEXT    |    0    |    None    | 0  |
|  6  |      labs     |     TEXT    |    0    |    None    | 0  |
+-----+---------------+-------------+---------+------------+----+

Sample data:
+-------------+--------------------+----------+------------+------------+----------------------------------------------------------------------------------------------------------------------+-----------------------------+
| datasets_id |   datasets_name    |   PMID   | GEO_number | SRP_number |                                                      Reference                                                       |             labs            |
+-------------+--------------------+----------+------------+------------+----------------------------------------------------------------------------------------------------------------------+-----------------------------+
|    DS0001   |  Inoue_MPRA_HepG2  | 27831498 |  GSE83894  |            | A systematic comparison reveals substantial differences in chromosomal versus episomal encoding of enhancer activity |       Shendure,Ahituv       |
|    DS0002   | Klein_STARR_HepG2  | 30045748 | GSE113978  |            |                      Functional characterization of enhancer evolution in the primate lineage.                       |           Shendure          |
|    DS0003   |  Smith_MPRA_HepG2  | 23892608 |            | SRP018414  |        Massively parallel decoding of mammalian regulatory sequences supports a flexible organizational model        | Ahituv, Ovcharenko,Shendure |
|    DS0004   |  Stark_STARR_SEQ   | 23328393 |  GSE40739  |            |                       Genome-Wide Quantitative Enhancer Activity Maps Identified by STARR-seq                        |            Stark            |
|    DS0005   | Wang_HiDRA_GM12878 | 30568279 | GSE104001  |            |   High-resolution genome-wide functional dissection of transcriptional regulatory regions and nucleotides in human   |     Kellis, Claussnitzer    |
+-------------+--------------------+----------+------------+------------+----------------------------------------------------------------------------------------------------------------------+-----------------------------+

In [ ]:
cursor.execute("PRAGMA table_info(sample);")
columns = cursor.fetchall()

pragma_headers = [desc[0] for desc in cursor.description]

column_table = PrettyTable()
column_table.field_names = pragma_headers

for col in columns:
    column_table.add_row(col)

print("Columns in the table:")
print(column_table)


cursor.execute("SELECT * FROM sample LIMIT 5;")
rows = cursor.fetchall()

column_names = [description[0] for description in cursor.description]

data_table = PrettyTable()
data_table.field_names = column_names

for row in rows:
    data_table.add_row(row)

print("\nSample data:")
print(data_table)

Columns in the table:
+-----+------------------+------+---------+------------+----+
| cid |       name       | type | notnull | dflt_value | pk |
+-----+------------------+------+---------+------------+----+
|  0  |    sample_id     | TEXT |    1    |    None    | 1  |
|  1  |   sample_name    | TEXT |    0    |    None    | 0  |
|  2  | Library_strategy | TEXT |    0    |    None    | 0  |
|  3  |     Organism     | TEXT |    0    |    None    | 0  |
|  4  | Cell_line_tissue | TEXT |    0    |    None    | 0  |
|  5  |    library_id    | TEXT |    0    |    None    | 0  |
|  6  | element_position | TEXT |    0    |    None    | 0  |
|  7  |   DNA_RNA_reps   | TEXT |    0    |    None    | 0  |
|  8  |   description    | TEXT |    0    |    None    | 0  |
|  9  |  GenomeBrowser   | TEXT |    0    |    None    | 0  |
|  10 |     rep_type     | TEXT |    0    |    None    | 0  |
+-----+------------------+------+---------+------------+----+

Sample data:
+--------------+---------------------------------+------------------+--------------+------------------+--------------+------------------+--------------+---------------------+---------------------------------------------+----------+
|  sample_id   |           sample_name           | Library_strategy |   Organism   | Cell_line_tissue |  library_id  | element_position | DNA_RNA_reps |     description     |                GenomeBrowser                | rep_type |
+--------------+---------------------------------+------------------+--------------+------------------+--------------+------------------+--------------+---------------------+---------------------------------------------+----------+
| DS0001-SID01 |   Inoue_Mutant_integrase_HepG2  |    lentiMPRA     | Homo sapiens |      HepG2       | DS0001-LID01 |      5'/3'       |      3       |   Mutant integrase  |            DS0001-SID01_hg19.bed;           |          |
|              |                                 |                  |              |                  |              |                  |              |                     |            DS0001-SID01_hg18.bed            |          |
| DS0001-SID02 | Inoue_Wild-type_integrase_HepG2 |    lentiMPRA     | Homo sapiens |      HepG2       | DS0001-LID01 |      5'/3'       |      3       | Wild-type integrase | DS0001-SID02_hg18.bed;DS0001-SID02_hg19.bed |          |
| DS0002-SID01 |     Klein_STARR_Tiling_HepG2    |    STARR-seq     | Homo sapiens |      HepG2       | DS0002-LID01 |                  |      3       |        Tiling       |            DS0002-SID01_hg19.bed            |          |
| DS0002-SID02 |   Klein_STARR_Orthologs_HepG2   |    STARR-seq     | Homo sapiens |      HepG2       | DS0002-LID01 |                  |      3       |      Orthologs      |            DS0002-SID02_hg19.bed            |          |
| DS0003-SID01 |    Smith_MPRA_mouse_synthetic   |   plasmidMPRA    | Mus musculus |      liver       | DS0003-LID01 |                  |      3       |      mouse_MPRA     |            DS0003-SID01_hg18.bed            |   None   |
+--------------+---------------------------------+------------------+--------------+------------------+--------------+------------------+--------------+---------------------+---------------------------------------------+----------+

In [ ]:
!pip install zarr

Collecting zarr
  Downloading zarr-2.18.3-py3-none-any.whl.metadata (5.7 kB)
Collecting asciitree (from zarr)
  Downloading asciitree-0.3.3.tar.gz (4.0 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.24 in /usr/local/lib/python3.10/dist-packages (from zarr) (1.26.4)
Collecting numcodecs>=0.10.0 (from zarr)
  Downloading numcodecs-0.13.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.9 kB)
Collecting fasteners (from zarr)
  Downloading fasteners-0.19-py3-none-any.whl.metadata (4.9 kB)
Downloading zarr-2.18.3-py3-none-any.whl (210 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 210.7/210.7 kB 7.3 MB/s eta 0:00:00
Downloading numcodecs-0.13.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 69.4 MB/s eta 0:00:00
Downloading fasteners-0.19-py3-none-any.whl (18 kB)
Building wheels for collected packages: asciitree
  Building wheel for asciitree (setup.py) ... done
  Created wheel for asciitree: filename=asciitree-0.3.3-py3-none-any.whl size=5033 sha256=f1579146f65f32a30d1d3f1e79c0bd7eb71504bd24a4f81aed4e2ee51366e3a1
  Stored in directory: /root/.cache/pip/wheels/7f/4e/be/1171b40f43b918087657ec57cf3b81fa1a2e027d8755baa184
Successfully built asciitree
Installing collected packages: asciitree, numcodecs, fasteners, zarr
Successfully installed asciitree-0.3.3 fasteners-0.19 numcodecs-0.13.0 zarr-2.18.3

In [ ]:
import numpy as np
import zarr
from PIL import Image

image = Image.open('/content/drive/MyDrive/(09)-Pereyra2021A-BMCBioinformatics/DS0001/(F1)-ZStacks-Fusion-ZS/CH0001/DR(F1)/Pereyra2021A-DS0001TP0001DR(F1)CH0001PL(AS).TIF')

image_data = np.array(image)

# Create a .zarr store
zarr_store = zarr.open('/content/sample_data', mode='w', shape=image_data.shape, dtype=image_data.dtype)

zarr_store[:] = image_data

In [ ]:
import numpy as np
import zarr
from PIL import Image

image = Image.open('/content/drive/MyDrive/(09)-Pereyra2021A-BMCBioinformatics/DS0001/(F1)-ZStacks-Fusion-ZS/CH0001/DR(F1)/Pereyra2021A-DS0001TP0002DR(F1)CH0001PL(AS).TIF')

image_data = np.array(image)

# Create a .zarr store
zarr_store = zarr.open('/content/sample_data', mode='w', shape=image_data.shape, dtype=image_data.dtype)

zarr_store[:] = image_data